.contact-section {
  background: #1b3070 url(../../assets/img/bg-news.png) no-repeat;
  background: var(--primary) url(../../assets/img/bg-news.png) no-repeat;
  background-size: 60%;

  &__wrapper {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__title {
    font-family: montserrat, arial, sans-serif;
    color: #fff;
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 16px;
  }

  &__call {
    color: #fff;
  }

  &__button {
    margin: 40px auto 0;
    cursor: pointer;
  }

  @media screen and (min-width: 768px) {
    background: #1b3070 url(../../assets/img/bg-news.png) no-repeat;
    background: var(--primary) url(../../assets/img/bg-news.png) no-repeat;
    background-size: 30%;

    &__wrapper {
      padding-top: 110px;
    }

    &__title {
      font-size: 2.25rem;
    }

    &__call {
      font-size: 1rem;
    }

    &__button {
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
    }

    &__tile {
      width: 250px;
      height: 250px;
    }
  }

  @media screen and (min-width: 1200px) {
    &__wrapper {
      padding-top: 250px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }

    &__title {
      text-align: left;
      margin-bottom: 0;
      padding-right: 20px;
      max-width: 350px;
    }

    &__title.cases__section-title {
      padding-right: 20%;
      max-width: none;
    }

    &__button {
      -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
      margin-top: 0;
      max-width: 300px;
    }

    &__call {
      margin-right: 50px;
      text-align: left;
      max-width: 300px;
    }

    &__tile {
      width: 400px;
      height: 400px;
    }
  }

  @media screen and (min-width: 1600px) {
    &__title {
      flex-grow: 1;
    }

    &__button {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.contact-btn {
  display: block;
  outline: none;
  border: none;
  background-color: #8ac249;
  background-color: var(--green);
  height: 48px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 3rem;
  color: #fff;
  -webkit-appearance: none;
  text-decoration: none;
  text-align: center;
}

.pop-up-contact {
  position: fixed;
  z-index: 26;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;

  &__box {
    box-sizing: border-box;
    width: 90%;
    max-width: 410px;
    margin: 0 auto;
    margin-top: 10vh;
    background-color: #fff;
    position: relative;
    z-index: 27;
    padding: 45px;
  }

  &__close-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 16px;
    height: 16px;
    background: url(../../assets/icons/close-popup.svg) no-repeat center;
    background-size: cover;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  &__title {
    color: #1b3070;
    font-family: montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 46px;
    margin-bottom: 30px;
  }

  &__input,
  &__textarea {
    border: none;
    color: #1b3070;
    width: 100%;
    border-bottom: 2px solid #4862b1;
    font-size: 16px;
    font-family: 'Inter', serif;
    outline: none;
    -webkit-appearance: none;
    padding: 0;
    border-radius: 0;
  }

  &__input::placeholder,
  &__textarea::placeholder {
    font-size: 16px;
    color: #a4acc6;
  }

  &__input:focus,
  &__textarea:focus {
    border-bottom: 2px solid #8ac249;
  }

  &__input {
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  &__textarea {
    height: 80px;
    resize: none;
    margin-bottom: 10px;
  }

  &__send-btn {
    position: relative;
    padding: 0 50px 0 17px;
    height: 60px;
    line-height: 60px;
    font-family: interregular;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 30px;

    &:disabled {
      cursor: default;
      opacity: 0.8;
    }

    &::after {
      content: '';
      position: absolute;
      top: calc(50% - 5px);
      right: 15px;
      width: 16px;
      height: 10px;
      background: url(../../assets/icons/arrow-right.svg) no-repeat center;
    }
  }

  &__agreement {
    font-family: interregular;
    font-size: 12px;
    line-height: 20px;
  }

  &__agreement a {
    font-family: interregular;
    font-size: inherit;
    line-height: 20px;
    color: #49598d;
    text-decoration: underline;
  }
}

.popup-sendback__box {
  display: block;
  position: relative;

  margin: 10px 0;

  span {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    color: #ff5c5c;
    font-size: 12px;
    line-height: 16px;
  }
}

.popup-input-warning {
  input,
  textarea {
    transition: 0.4s;
    border-bottom: 2px solid #ff5c5c;
  }

  span {
    display: block;
  }
}

#google-captcha {
  margin: 20px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.pop-up-success {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 45px;
  text-align: center;
  display: none;

  &__check {
    display: block;
    width: 80px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 30px;
  }

  &__title {
    font-size: 24px;
    margin: 100px 0 10px;
  }

  &__text {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .pop-up-contact {
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    &__box {
      margin: 30px auto;
      padding: 40px 15px 30px;
    }

    &__title {
      text-align: center;
      font-size: 20px;
    }

    &__input,
    &__textarea {
      font-size: 14px;
    }

    &__input {
      padding-bottom: 10px;
      margin-bottom: 15px;
    }

    &__send-btn {
      width: 100%;
      position: relative;
      height: 48px;
      line-height: 48px;
      margin-bottom: 25px;
    }

    &__agreement {
      font-size: 10px;
    }

    .pop-up-success {
      padding: 15px;

      &__check {
        width: 60px;
      }

      &__title {
        margin: 60px 0 10px;
        font-size: 20px;
      }

      &__text {
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 390px) {
  #google-captcha > div {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
  }
}
